.goto_btn{
	margin-top:15px;
	display:flex;
  	justify-content: center;
  	align-items: center;
}
.logout_menu{
	display:flex;
	margin-top:170px;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	color:#FA716F;
}