.screen_header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  top: 40px;
  left: 20px;
}
.screen_header :nth-child(2) {
  position: fixed;
  right: 15px;
}
.screen_header__title span {
  font-size: 24px;
  font-weight: 500;
  margin-left: 21px;
}
