@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
.feedview_header{
	display:flex;
	justify-content: center;
	align-items: center;
}
.feedview_header a{
	display:flex;
}
.feedview_header_user{
	width:90%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.feedview_user{
	display:flex;
	margin : 15px;
	color: black;
	font-weight: bold;
}

.feedview_img{
	margin:2px;
	display:flex;
	justify-content: center;
	align-content: center;
}


.feedview_action{
	margin-top:30px;
	display:flex;
	width:100%;
	height: 40px;
	padding:10px;

	border-bottom: 1px dotted black;

}
.feedview_action span{
		margin: 0px 10px 5px 10px;
}
.feedview_data{
	 letter-spacing: 0.6px;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	color:purple;
	margin : 12px;
}
	
.feedview_data span{
	margin:5px;
}
.image{
	display:block;
	height: 150px;
	margin: 30px;
}
.userPhoto{
	width: 20px;
	height: 20px;
}