body {
	max-height:1200vh;
	position:absolute;
	top:0px;
	bottom:0px;
  width:100%
}

.main_head {
  background-color: #7cb9f2;
  height: 33%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  color: white;
}

.main_head :nth-child(2) {
  font-size: 24px;
  margin: 60px 0px 10px 20px;
}
.main_head :nth-child(3) {
  margin-left: 20px;
  font-size: 12px;
}
.main_head :nth-child(3) span {
  margin-left: 8px;
  font-weight: bolder;
  font-size: 14px;
}

.go_need_btn {
  width: 110px;
  height: 30px;
  margin: 10% 0px 30px 25px;
  background-color: #fa716f;
  border: 1px solid #fa716f;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bell {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: 18px;
}

.feed{
	margin:2px;
	height:310px;
	width:100%;

}
.main_feed1 {
	position : relative;
	margin-top:20px;
  width: 95%;
  height: 60%;
  background-color: #f8f2ee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
	position : relative;
  color:red;
}
.main_feed1 span{
	display:flex;
	justify-content : center;
	position:absolute;
	bottom:10%;
	align-items : center;
	flex-direction : row;
	width: 22%;
	height:25px;
	color:white;
	background-color:#7cb9f2;
	border-radius: 20px;
	margin : 5px;
	font-size:10px;
}
.main_feed1 :first-child{
	right: 27%;
}
.main_feed1 :last-child{
	right: 0;
}

.main_feed2 {
  display: flex;
  flex-direction : column;
  justify-content: flex-end;
  width: 95%;
  height: 40%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 20px;
  color:black;
}
.main_feed2 span{
	margin : 10px;
}


.nav__list :first-child a {
  color: #7cb9f2;
  font-weight: bold;
}


