body {
	max-height:1200vh;
  height:auto;
  width:100%
}

.main_head {
  background-color: #7cb9f2;
  height: 33%;
  width: 100%;
  top: 0px;
  left:0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
}

.main_head :nth-child(2) {
  font-size: 24px;
  margin: 60px 0px 10px 20px;
}
.main_head :nth-child(3) {
  margin-left: 20px;
  font-size: 12px;
}
.main_head :nth-child(3) span {
  margin-left: 8px;
  font-weight: bolder;
  font-size: 14px;
}

.go_need_btn {
  width: 110px;
  height: 30px;
  margin: 10% 0px 30px 25px;
  background-color: #fa716f;
  border: 1px solid #fa716f;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bell {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: 18px;
}
.empty_box {
  height: 30%;
}
.main_feed1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2% 0px 2%;
  width: 94%;
  height: 18%;
  background-color: #f8f2ee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  
}

.main_feed2 {
  display: flex;
  width: 94%;
  height: 9%;
  margin: 0px 3% 0px 3%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 20px;
}

.nav__list :first-child a {
  color: #7cb9f2;
  font-weight: bold;
}
