@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

#myProfile{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#profile-photo{
	border-radius: 70%;
	border-color: #7CB9F2;
}

#infoname{
	margin-top: 16px;
	font-size: 18px;
}

#infotext{
	margin-top: 4px;
	font-size: 16px;
}

#myinfocontainer{
	margin-top: 16px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

#myinfo1{
	margin-right: 2px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-right: 24px;
	border: 2px solid #7CB9F2;
	border-radius: 8px;
	padding: 8px;
}

#myinfo2{
	margin-right: 2px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-right: 24px;
	border: 2px solid #7CB9F2;
	border-radius: 8px;
	padding: 8px;
}

#myinfo3{
	margin-right: 2px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	border: 2px solid #7CB9F2;
	border-radius: 8px;
	padding: 8px;
}
 #feedcontainer{
 	margin-right: 20px;
 	margin-left: 20px;
 }