@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.signup_main,
.withdraw_main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.signuptitle{
  font-size: 24px;
}

.signup_main input,
.withdraw_main input {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  margin: 8px 16px 8px 16px;
  width: 80%;
  height: 53px;
  padding-left: 12px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.genderinput{
  display: flex;
}

.radio-input input[type="radio"]{
  display:none;
}

.radio-input input[type="radio"] + span{
  align-items: center;
  justify-content: center;
  display: flex;
  display:inline-block;
  background:none;
  border:2px solid #e5e5e5;  
  border-radius: 8px;
  padding:0px 10px;
  text-align:center;
  vertical-align: middle;
  height:48px;
  width: 130px;
  margin-right: 4px;
  line-height:48px;
  font-weight:500;
  cursor:pointer;
}

.radio-input input[type="radio"]:checked + span{
  border:2px solid #e5e5e5;
  background:#FA716F;
  color:#fff;
  border-radius: 8px;
}

.signup_btn{
  background: #fa716f;
  color: white;
}

a:link, 
a:visited
{
  margin-top: 6px;
  text-decoration: none;
  font-size: 14px;
  color :#78746D;
  text-decoration:none;
}