@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.signup_main,
.withdraw_main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title{
  margin-top: 4px;
  font-size: 24px;
}

.signup_btn,
.signup_main input,
.withdraw_main input {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  margin: 8px 16px 8px 16px;
  width: 80%;
  height: 53px;
  padding-left: 12px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.signup_btn {
  background-color: #fa716f;
  color: white;
}

a:link, 
a:visited
{
  margin-top: 6px;
  text-decoration: none;
  font-size: 14px;
  color :#78746D;
  text-decoration:none;
}
